In [2]:
n = 20
if n%2 == 0:
    print("짝수")

짝수

In [3]:
n = 21
if n%2 == 0:
    print("짝수")

In [4]:
age = 18
if age >= 20:
    print(('성인'))
else:
    print('미성년자')

미성년자

In [5]:
age = 21
if age >= 20:
    print(('성인'))
else:
    print('미성년자')

성인

In [7]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [8]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [11]:
point = 92
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

A

In [12]:
point = 62
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

D

In [1]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"


print(result)

사과

In [2]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"


print(result)

바나나

In [4]:
value = "mango"


match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None


print(result)

None

In [5]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [6]:
num = [10,20,30,40]
for i in num:
    print(i)

10
20
30
40

In [7]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mango
2000

In [9]:
i = 1
sum = 0 
while i <= 10:
    sum += i
    i += 1

print(sum)

55

## ~ 60p